FRONT_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://192.168.0.86:5201/api
NEXT_PUBLIC_BACK_URL=http://192.168.0.86:5201
AUTH_SECRET=134f9b1d7681569373994d53f25e4ee6ab70738fafcbc12fac29f4be6559fb23

ANTHROPIC_API_KEY=your_anthropic_api_key_here
AUTH_TRUST_HOST=true
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Q3N0yCWu1Re5YqeGcFevgM5RTAT8GpvlotgawffNHcqOBs2d2aARchHQqPtGqfBt1YSBDsodw5CVus2QfYk242300i33CBF66
NEXT_PUBLIC_STRIPE_CLIENT_SECRET="cs_test_a1EnvXcJnPaBrlNwDe7Ouelb0qfCwxyqHnFsPujxVaKYKAtNfqf5iayKpz_secret_fidnandhYHdWcXxpYCc%2FJ2FgY2RwaXEnKSdkdWxOYHwnPyd1blpxYHZxWjA0UVRxczY9Z2s3alFiR1BBYzYwb29kX0hTdUNsVWxnaF1CVlxmfWhzd2dtbkJEajJEc3czXzBsXzBoSVZOYktdXHZdUjdhQG40PGxwXGtoMmtPdXd1UnFJNTVgTms8QlxhaycpJ3BsSGphYCc%2FJ2BoZ2BhYWBhJyknaWR8anBxUXx1YCc%2FJ3Zsa2JpYFpscWBoJyknd2BhbHdgZnFKa0ZqaHVpYHFsamsnPydkaXJkfHYnKSdnZGZuYndqcGthRmppancnPycmY2NjY2NjJ3gl"
