FRONT_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_BACK_URL=http://localhost:5000
AUTH_SECRET=blabuebaldsbalblablabla
ANTHROPIC_API_KEY=bkbkbblbbllb
AUTH_TRUST_HOST=true
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51Q3N0yCWu1Re5YqeGcFevgM5RTAT8GqvlotgawffNHcqOBs2d2aARchHQqPtGqfBt1YSBDsodw5CVus2QfYk242300i33CBF66"